 <div class="wrapper">
      <div class="header">
 {{!-- {{partial "navbar"}} --}}
 </div>
<div class="content">
 {{outlet}}
</div>
       
 {{partial "footer"}}
 </div>
{{!-- <div class="container">
  {{partial 'navbar'}}
  {{outlet}}
</div> --}}