{{partial 'navbar'}}
<div class="jumbotron">
   <h2><b><em>All Application Form</em></b></h2>
   <br>
   <div class="well well-lg">
      {{#each AllInfo as |data index|}}
      <table id="fresh-table" class="table">
         <thead>
            <th>Serial No.</th>
            <th>Application Id:</th>
            <th>User Id:</th>
            <th>Status:</th>
            <th>Time Stamp:</th>
            <th>Message:</th>
            <th>Form Type:</th>
         </thead>
         <tbody>
            <tr>
               <td>{{add index 1}}</td>
               <td {{action 'pass' data data._id data.uniqid data.TypeOform  data.status data.candiName data.RollNo
               data.dob data.fatherName data.motherName data.schoolCode data.schoolName data.ResidentialAddr
               data.MobNo data.AdharNo data.userId}}  style="color:green">{{data._id}}</td>
               <td>{{data.userId}}</td>
               <td style="color:darkgreen">{{data.status}}</td>
               <td>{{data.created_At}}</td>
               <td>{{data.message}}</td>
               <td>{{data.TypeOform}}</td>
            </tr>
         </tbody>
      </table>
      <br>
      <p>
         <button class="btn btn-primary" type="button" {{action "GetHistory" data._id}}>
         Get Audit Trail
         </button>
      </p>
      {{/each}}
   </div>
</div>