{{partial 'navbar'}}
<div class="sidebar">
   <p class="bar-2" >User Dashboard</p>
   <br>
   <br>
    
   {{#link-to 'AppForm'}}
   <button  class="btn btn-primary Rectangle-2-Copy-8" style="border-color:;border-color:;border:0px;border-radius:0px;">Apply for Admission card</button>
   {{/link-to}}
   <br>
   <br>
   {{#link-to 'uploaddocument'}}
   <button class="btn btn-primary Rectangle-2-Copy-8" style="border-color:;border-color:;border:0px;border-radius:0px;">Upload Documents</button>
   {{/link-to}}
   <br>
   <br>
   {{#link-to 'pulldocuments'}}
   <button class="btn btn-primary Rectangle-2-Copy-8" style="border-color:;border-color:;border:0px;border-radius:0px;">Pull Documents</button>
   {{/link-to}}
   <br>
   <hr>
   <button type="button" class="btn btn-primary Rectangle-2-Copy-8" style="border-color:;border-color:;border:0px;border-radius:0px;"{{action "GoToRepository"}}>Documents Repository</button>
   <br>
   <hr>
</div>
<div class="main">
   <br>
   <div class="row">
      <div class="col-lg-6">
         <div style="	width: 157px;	height: 40px;	border-radius: 4px;" ><b style="color:blue">Hello&nbsp;{{walletname}}</b></div>
      </div>
      <div class="col-lg-6">
         {{input type="text" class="Search-block" style="height:40px;" value=search placeholder="search" class="search"}}
      </div>
   </div>
   <hr>
   <div class="row" style="">
      <div class="col-md-3 colour-3" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               Inbox
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage=series
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{series}}
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
      <div class="col-md-3" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               Uploaded Doc
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage="9"
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            9
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
      <div class="col-md-3" style="text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               {{#link-to 'userhallticket'}}
               Hall Ticket 
               {{/link-to}}
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage=DataLength
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{DataLength}}
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
      <div class="col-md-3">
         <div class="w3-panel w3-card">
            <h3>
               <b style="text-align:center;margin:30%;">
               Request
               <br>
               </b>
            </h3>
            {{#if (eq message "no request yet generated")}}
            <div class="a lable-align content"><b style="color:green">{{message}}</b></div>
            {{else}}
            <div class="a lable-align"><b>{{TotalRequestLength}}</b></div>
            <h4 style="color:green; text-align:center;">{{TotalRequestLength}} new request</h4>
            {{/if}}
            {{!-- <h4 style="color:green; text-align:center;margin:20%;"> No request yet</h4> --}}
         </div>
      </div>
      {{!-- 
      <div class="col-md-3">
         <div class="w3-panel w3-card">
            {{#link-to 'pulldocuments'}}
            <h3>
               <b>
               Pull Documents
               </b>
            </h3>
            <span class="fa fa-cloud-download fa-fa-style"></span>
            {{/link-to}}
         </div>
      </div>
      --}}
   </div>
   <br>
   <div class="row">
   </div>
   <br>
   {{!-- -------------------->><<-------------------- --}}
   {{#if ShowBlock}}
   <div class="Block">
      <div class="SSLC-Documents ">
         SSC Documents
      </div>
      <hr>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Seat Number</th>
               <th scope="col">Content-Hash</th>
               <th scope="col">Date & Time</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </tbody>
      </table>
   </div>
   <br>
   <div class="Block">
      <div class="SSLC-Documents ">
         HSC Documents
      </div>
      <hr>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Seat Number</th>
               <th scope="col">Content-Hash</th>
               <th scope="col">Date & Time</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </tbody>
      </table>
   </div>
   {{/if}}
   {{!-- 
 c
      --}}
      {{!-- {{#each AllInfo as |data|}}
      <div class="stepper">
         <div class="stepper-steps">
            {{#if (or data.status "processing" "verified by institute" "Hall ticket auto generation sucessfully done")}}
            <div class="stepper-step stepper-step-isValid">
               <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">1</span>Application Submit
               </div>
            </div>
            {{else}}
            <div class="stepper-step">
               <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">1</span>Application Submit
               </div>
            </div>
            {{/if}}
            {{#if (or data.status "processing" "verified by institute" "Hall ticket auto generation sucessfully done")}}
            <div class="stepper-step stepper-step-isValid">
               <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">2</span>Institute verify
               </div>
            </div>
            {{else}}
            <div class="stepper-step">
               <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">2</span>Institute verify
               </div>
            </div>
            {{/if}}
            {{#if (or data.status  "Hall ticket auto generation sucessfully done")}}
            <div class="stepper-step">
               <div class="stepper-stepContent stepper-step-isValid">
                  <span class="stepper-stepMarker">3</span>Hall Ticket alloted
               </div>
            </div>
            {{else}}
            <div class="stepper-step">
               <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">3</span>Hall Ticket alloted
               </div>
            </div>
            {{/if}}
         </div>
      </div>
      {{/each}} --}}
      {{!-- 
      <div class="container">
         --}}
          <b>Hall ticket generation progress status</b>
           <br>
         {{#each AllInfo as |data|}}
       
         <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
              
               <div class="stepwizard-step col-xs-3">
                  {{#if (eq data.ApplicationStatus "processing")}}
                  <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                  <p><strong style="color:darkgreen;">{{data.TypeOform}}&nbsp;Application form&nbsp;done</strong></p>
                  
                  {{else}}
                  <a href="#step-1" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                 <p><strong style="color:">Application form</strong></p>
                 {{/if}}
                  
               </div>
               <div class="stepwizard-step col-xs-3">
                  {{#if (eq data.InstitueStatus "verified by institute")}}
                  <a href="#step-2" type="button" class="btn btn-success btn-circle" >2</a>
                   <p><strong style="color:darkgreen;">Institute verification done</strong></p>
                  {{else}}
                  <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                   <p><strong style="color:">Institute verification</strong></p>
                  {{/if}}  
               </div>
               <div class="stepwizard-step col-xs-3">
                  {{#if (eq data.DivisionalStatus "Hall ticket auto generation sucessfully done" )}}
                  <a href="#step-3" type="button" class="btn btn-success btn-circle">3</a>
                  <p><strong style="color:darkgreen;">Divisional Board verification done</strong></p>
                  {{else}}
                  <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                   <p><strong style="color:">Divisional Board verification</strong></p>
                  {{/if}}
                 
               </div>
               <div class="stepwizard-step col-xs-3">
                  {{#if (eq data.DivisionalStatus  "Hall ticket auto generation sucessfully done")}}
                  <a href="#step-4" type="button" class="btn btn-success btn-circle">4</a>
                  <p><strong style="color:darkgreen;">{{data.status}}</strong></p>
                  {{else}}
                  <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                   <p><strong style="color:;">Hall Ticket  Generation</strong></p>
                  {{/if}}
                 
               </div>
            </div>
         </div>

         {{/each}}
   <br>
</div>