{{partial 'navbar'}}
<div class="sidebar">
   <div class="bar-1">
      <div class="All-Documents" >All Documents</div>
   </div>
   <div class="Pending" style="">Pending</div>
   <div class="Pending-1" style="">Inbox &nbsp;&nbsp; {{UploadLength}}</div>
   <div class="Pending-2" style="">Request</div>
   {{#link-to 'statusupload'}} 
   <div class="Pending-3" style="">Host Documents</div>
   {{/link-to}}
   <br>
   <hr>
   <div class="Documents">
      Documents
   </div>
   {{#link-to 'statusupload'}}
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7">View All Documents</button>
   {{/link-to}}
   <br>
   <hr>
</div>
<div class="main">
   <br>
   <div class="row">
      <div class="col-lg-6">
         <button class="btn" style="width: 157px;	height: 40px;	border-radius: 4px;" type="button" data-toggle="dropdown"><span class="caret"></span>All Documents</button>
      </div>
      <div class="col-lg-6">
         {{input type="text" class="Search-block" style="height:40px;" value=search placeholder="search" class="search"}}
      </div>
   </div>
   <hr>
   <div class="row" style="background-color:">
      <div class="col-md-4 colour-3" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               Inbox
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage="20"
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{UploadLength}}
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
      <div class="col-md-4" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
                   {{#link-to "digitalsignature"}}
               Duplicate marksheet
               {{/link-to}}
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage=RequestForDigital
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{RequestForDigital}}
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
      <div class="col-md-4" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               Hall Tickets
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage=ArrayLength
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{ArrayLength}}
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
   </div>
   {{!-- -------------------->><<-------------------- --}}
   <div class="Block">
      <div class="SSLC-Documents ">
         HSC & SSC Documents
      </div>
      <hr>
      <div class="row">
         <label style="padding-left:4%;">Total Document : {{SSCdataLength}} SSC Marksheet Hosted</label>
      </div>
      <div class="row">
         <label style="padding-left:4%;">Total Document : {{HSCdataLength}} HSC Marksheet Hosted</label>
      </div>
   </div>
   <br>
</div>