{{partial 'navbar'}}
<div class="sidebar">
      <button class="btn bar-1" >User Dashboard</button>
   <br>
   <br>
   {{#link-to 'AppForm'}}
   <button class="btn" style="width:200px;">Apply for Admission card</button>
   {{/link-to}}
   
   <br>
   <br>
   {{#link-to 'uploaddocument'}}
   <button class="btn" style="width:200px;">Upload Documents</button>
   {{/link-to}}
   <br>
   <hr>
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7" {{action "GoToRepository"}}>Documents Repository</button>
   <br>
   <hr>
</div>
<div class="main">
   <br>
   <div class="row">
      <div class="col-lg-6">
       <div style="	width: 157px;	height: 40px;	border-radius: 4px;" ><b style="color:blue">Hello&nbsp;{{walletname}}</b></div>
      </div>
      <div class="col-lg-6">
         {{input type="text" class="Search-block" style="height:40px;" value=search placeholder="search" class="search"}}
      </div>
   </div>
   <hr>
  
   <div class="row" style="">
      <div class="col-md-3 colour-3" style="background:;text-align:center;">
         <h3>
            <b>
            Inbox
            </b>
         </h3>
         {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage=series
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         {{series}}
         {{/progress-circle/text}}
         {{/progress-circle}}
      </div>
      <div class="col-md-3" style="background:;text-align:center;">
         <h3>
            <b>
            Uploaded Doc
            </b>
         </h3>
         {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage="9"
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         9
         {{/progress-circle/text}}
         {{/progress-circle}}
      </div>
      <div class="col-md-3">
         <h3>
            <b style="text-align:center;">
            Request
            <br>
            </b>
         </h3>
        <h4 style="color:green; text-align:center;margin:20%;"> No request yet</h4>
      </div>
      <div class="col-md-3">
          {{#link-to 'pulldocuments'}}
         <h3>
            <b>
            Pull Documents
            </b>
         </h3>
         <span class="fa fa-cloud-download fa-fa-style"></span>
      {{/link-to}}
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-3" style="text-align:center;">
          <h3>
            <b>
              {{#link-to 'userhallticket'}}
            Hall Ticket 
            {{/link-to}}
            </b>
         </h3>
     {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage=DataLength
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         {{DataLength}}
         {{/progress-circle/text}}
         {{/progress-circle}}
</div>
     </div>
   <br>
   {{!-- -------------------->><<-------------------- --}}
   {{#if ShowBlock}}
   <div class="Block">
      <div class="SSLC-Documents ">
         SSC Documents
         
      </div>
      <hr>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Seat Number</th>
      <th scope="col">Content-Hash</th>
      <th scope="col">Date & Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
  </tbody>
</table>
</div>
   <br>
   <div class="Block">
      <div class="SSLC-Documents ">
         HSC Documents
      </div>
      <hr>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Seat Number</th>
      <th scope="col">Content-Hash</th>
      <th scope="col">Date & Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
  </tbody>
</table>
</div>
   {{/if}}
   <br>
</div>