{{partial 'navbar'}}
<div class="sidebar">
   <div class="Documents">
     All Admission card
   </div>

     {{#link-to 'applicationhsc'}}
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7" >All Admission Card Status</button>
      {{/link-to}}
   <br>
   <hr>
    {{#link-to 'HallTicketRepo'}}
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7" >All Generated Hall Ticket</button>
      {{/link-to}}
          {{!-- {{#link-to 'HallTicketRepo'}} --}}
  <!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> --}}

<!-- Modal -->
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> --}}
      {{!-- {{/link-to}} --}}
      {{!-- ================================ --}}
    {{!-- <a href="http:file://home/kheteshr/khetesh/nem/NanoWallet-2.1.2/start.html#!/">Try it</a>

<script>
function myFunction() {
    var myWindow = window.open("file://home/kheteshr/khetesh/nem/NanoWallet-2.1.2/start.html#!/", "", "width=200,height=100");
}
</script> --}}
<a href="https://home/kheteshr/khetesh/nem/NanoWallet-2.1.2/start.html">das</a>
<a href="http://home/kheteshr/khetesh/nem/NanoWallet-2.1.2/start.html">das</a>
<a href="https://www.google.com">test.pdf</a>
<a href="https://home/kheteshr/khetesh/nem/NanoWallet-2.1.2/start.html">das</a>
      
      {{!-- ======================================= --}}
</div>
<div class="main">
   <br>
   <div class="row">
        <h1><strong>Divisional Board Of Maharashtra</strong></h1>
   </div>
   <hr>
{{!-- {{#each AllInfo as |data|}} --}}
   <div class="row" style="background-color:">
      <div class="col-md-6 colour-3" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
         <h3>
            <b>
            Total SSC Admit Card
            </b>
         </h3>
         {{!-- {{#if (eq data.TypeOform "SSC")}} --}}
         {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage=SSC_Length
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         {{SSC_Length}}
         {{/progress-circle/text}}
         {{/progress-circle}}
         {{!-- {{/if}} --}}
      </div>
      </div>
      <div class="col-md-6 colour-3" style="background:;text-align:center;">
          <div class="w3-panel w3-card">
         <h3>
            <b>
                  Total HSC Admit Card
            </b>
         </h3>
         {{#progress-circle
         size="200"
         strokeWidth="10"
         percentage=HSC_Length
         as |elementId radius|
         }}
         {{#progress-circle/text
         font-size="2rem"
         font-family="inherit"
         }}
         {{HSC_Length}}
         {{/progress-circle/text}}
         {{/progress-circle}}
      </div>  
      </div>
   </div>
{{!-- {{/each}} --}}
   <div class="Block">
     
      <div class="SSLC-Documents">
        Admission card Details
      </div>
      <hr>
      <div class="row">
         <label style="padding-left:4%;">Total Admission card for SSC : {{SSC_Length}}</label>
      </div>
      <div class="row">
         <label style="padding-left:4%;">Total Admission card for HSC : {{HSC_Length}}</label>
      </div>
   </div>
   <br>
 

</div>