{{partial 'navbar'}}
<div class="sidebar">
   <div class="Documents">
      All Admission card
   </div>
   {{#link-to 'applicationhsc'}}
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7" >All Admission Card Status</button>
   {{/link-to}}
   <br>
   <hr>
   {{#link-to 'HallTicketRepo'}}
   <button type="button" class="btn btn-primary Rectangle-2-Copy-7" >All Generated Hall Ticket</button>
   {{/link-to}}
</div>
<div class="main">
   <br>
   <div class="row">
      <h1><strong>Divisional Board Of Maharashtra</strong></h1>
   </div>
   <hr>
   {{!-- {{#each AllInfo as |data|}} --}}
   <div class="row" style="background-color:">
      <div class="col-md-6 colour-3" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               Total SSC Admit Card
               </b>
            </h3>
            {{!-- {{#if (eq data.TypeOform "SSC")}} --}}
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage=SSC_Length
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{SSC_Length}}
            {{/progress-circle/text}}
            {{/progress-circle}}
            {{!-- {{/if}} --}}
         </div>
      </div>
      <div class="col-md-6 colour-3" style="background:;text-align:center;">
         <div class="w3-panel w3-card">
            <h3>
               <b>
               Total HSC Admit Card
               </b>
            </h3>
            {{#progress-circle
            size="200"
            strokeWidth="10"
            percentage=HSC_Length
            as |elementId radius|
            }}
            {{#progress-circle/text
            font-size="2rem"
            font-family="inherit"
            }}
            {{HSC_Length}}
            {{/progress-circle/text}}
            {{/progress-circle}}
         </div>
      </div>
   </div>
   {{!-- {{/each}} --}}
   <div class="Block">
      <div class="SSLC-Documents">
         Admission card Details
      </div>
      <hr>
      <div class="row">
         <label style="padding-left:4%;">Total Admission card for SSC : {{SSC_Length}}</label>
      </div>
      <div class="row">
         <label style="padding-left:4%;">Total Admission card for HSC : {{HSC_Length}}</label>
      </div>
   </div>
   <br>
</div>