{{partial 'navbar'}}
<div class="jumbotron">
   <h1><strong>Verification Process</strong></h1>
   <div class="panel panel-default">
      <div class="panel-body">
         <b>Application Id:</b>
         <p style="color:green">{{Doc_id}}</p>
         <hr>
      </div>
      <div class="row">
         <div class="col-lg-6">
            &nbsp; &nbsp;<b>Full Name:&nbsp; &nbsp;{{candiName}}</b><br>
            &nbsp; &nbsp;<b>Father Name:&nbsp; &nbsp;{{fatherName}}</b><br>
            &nbsp; &nbsp;<b>Mother Name:&nbsp; &nbsp;{{motherName}}</b><br>
            &nbsp; &nbsp;<b>School Name:&nbsp; &nbsp;{{schoolName}}</b><br>
            &nbsp; &nbsp;<b>School Code:&nbsp; &nbsp;{{schoolCode}}</b><br>
            &nbsp; &nbsp;<b>Adhaar Number:&nbsp; &nbsp;{{AdharNo}}</b><br>  
         </div>
         <div class="col-lg-6">
            &nbsp; &nbsp;<b>User Id:&nbsp; &nbsp;{{userId}}</b><br>
            &nbsp; &nbsp;<b>Residential Address:&nbsp; &nbsp;{{ResidentialAddr}}</b><br>
            &nbsp; &nbsp;<b>Mobile Number:&nbsp; &nbsp;{{MobNo}}</b><br>
            &nbsp; &nbsp;<b>Roll Number :&nbsp; &nbsp;{{RollNo}}</b><br>
            &nbsp; &nbsp;<b>Date Of Birth:&nbsp; &nbsp;{{dob}}</b><br>
            &nbsp; &nbsp;<b>Application For:&nbsp; &nbsp; {{TypeOform}}</b><br>
            &nbsp; &nbsp;<b>Application For:&nbsp; &nbsp;<b style="color:darkgreen">{{status}}</b></b><br>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-lg-6">
            &nbsp; &nbsp;<button type="button" class="btn"{{action "ReValidation" Doc_id userId TypeOform}}>Re-Apply with correction</button>
         </div>
         <div class="col-lg-6">
            {{#if (eq status "Hall ticket auto generation sucessfully done")}}
            &nbsp; &nbsp;<button type="button" disabled={{isCancelled}} class="btn btn-success"{{action "Done" Doc_id userId TypeOform}}>Process Application Form</button>
            {{!-- <b style="color:tomato">Already Done</b> --}}
            <br>
            {{!-- 
            <div class="alert alert-info">
               <strong>Info!</strong>This Application Id Already Processed .
            </div>
            --}}
            {{else}}
            &nbsp; &nbsp;<button type="button" class=" btn btn-success"{{action "Done" Doc_id userId TypeOform}}>Process Application Form</button>
            {{/if}}
         </div>
      </div>
      <br>
      {{#if showAlert}}
      {{#if (eq status "Hall ticket auto generation sucessfully done")}}
      {{else}}
      <div class="alert alert-success alert-dismissible">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>Success!</strong>Successfully verified by Institute.<br>
         <strong>Waiting for Divisional board approval</strong>
         <br>
         <strong style="color:tomato">{{EmailMessage}}</strong>
      </div>
      {{/if}}
      {{/if}}
      {{#if (eq status "Hall ticket auto generation sucessfully done")}}
      <br>
      <div class="alert alert-info">
         <strong>Info!</strong>This Application Id Already Processed .
      </div>
      {{/if}}
   </div>
</div>