{{partial 'navbar'}}
<div class="w3-panel w3-card" style="background-color:">
   <br>
   <h2><b><em>Audit Trail of Hall Ticket Process</em></b></h2>
   <h3><b>Application Id:</b>{{Id}}</h3>
   <table id="fresh-table" class="table">
      <thead>
         <th>Process No.</th>
         <th>Action Taken By: </th>
         <th>Status:</th>
         <th>Message:</th>
         <th>Time Stamp:</th>
         <th>Form Type:</th>
      </thead>
      <tbody>
         {{#each AllData as |data index|}}
         <tr>
            <td>{{add index 1}}</td>
            <td>{{data.Initiater}}</td>
            {{#if (eq data.status "Rejected")}}
            <td style="color:red">{{data.status}}</td>
            {{else}}
            <td style="color:darkgreen">{{data.status}}</td>
            {{/if}}
            <td>{{data.message}}</td>
            <td>{{data.created_At}}</td>
            <td>{{data.TypeOform}}</td>
         </tr>
         {{/each}}
      </tbody>
   </table>
   {{#each AllData as |data index|}}
   <b>Process Step:{{add index 1}}</b>
   <div class=" list-group-item list-group-item-success" >
      <li><b>Crypto hash for data:</b>{{data.rapidID}}</li>
      <li><b>Message:</b>{{data.message}}</li>
      <li><b>Status:</b>{{data.status}}</li>
      <li><b>Time stamp:</b>{{data.created_At}}</li>
      <li><b>Form type:</b>{{data.TypeOform}}</li>
   </div>
   {{/each}}
   <br>
</div>
<br>