{{partial 'navbar'}}
<br>
{{!-- style="font-size:48px" --}}
{{#if isShowingModal}}
<div class="alert alert-success alert-dismissible">
   <button type="button" class="close" data-dismiss="alert">&times;</button>
   <strong>Login Successfully Done!</strong>Please go ahead and login.<br>
   <strong></strong>
</div>
{{/if}}
<br>
<form style="width:30%;  margin: 0 auto;">
   <h1 class="w3-xxxlarge"><b style="color:black">Sign Up to Rapid Locker</b></h1>
   <div class="form-group">
      <label for="formGroupExampleInput">Username</label>
      {{input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="Enter Username"   value=walletName }}
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput2">Password</label>
      {{input type="text"class="form-control form-control-lg" id="formGroupExampleInput2" type="password" placeholder="Repeat Password" value=pswrepeat}}
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput2">Re-enter Password</label>
      {{input type="password" class="form-control form-control-lg" placeholder="Repeat Password" value=pswrepeat1}}
   </div>
   <button type="submit" class="registerbtn" style="background-color:#dc3545" {{action "submit"}}>Register</button>
   <br>
   <p class="">Already have an account? <a href="Home_Page" style="color:blue">Sign in</a>.</p>
</form>