{{partial 'navbar'}}
<br>
<h2><b>Your Documents Repository</b></h2>
<hr>
<br>
  <div class="w3-panel w3-card">
 <div class="Block">
      <div class="SSLC-Documents ">
         SSC Documents      
      </div>
      <hr>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Seat Number</th>
      <th scope="col">Content-Hash</th>
      <th scope="col">Date & Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{SeatNumber}}</td>
      <td><a href="http://127.0.0.1:8080/ipfs/{{ContentHash}}">http://127.0.0.1:8080/ipfs/{{ContentHash}}</a></td>
      <td>{{TimeStamp}}</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
   <br>
     <div class="w3-panel w3-card">
   <div class="Block">
      <div class="SSLC-Documents ">
         HSC Documents
      </div>
      <hr>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Seat Number</th>
      <th scope="col">Content-Hash</th>
      <th scope="col">Date & Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
<br>
